<p id="notice"><%= notice %></p>

<p>
  <b>Bibkey:</b>
  <%= @entry.bibkey %>
</p>

<p>
  <b>Fk user:</b>
  <%= @entry.fk_user %>
</p>

<p>
  <b>Fk type:</b>
  <%= @entry.fk_type %>
</p>

<p>
  <b>Author:</b>
  <%= @entry.author %>
</p>

<p>
  <b>Author sortkey:</b>
  <%= @entry.author_sortkey %>
</p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<p>
  <b>Year:</b>
  <%= @entry.year %>
</p>

<p>
  <b>Editor:</b>
  <%= @entry.editor %>
</p>

<p>
  <b>Booktitle:</b>
  <%= @entry.booktitle %>
</p>

<p>
  <b>Publisher name:</b>
  <%= @entry.publisher_name %>
</p>

<p>
  <b>Publisher address:</b>
  <%= @entry.publisher_address %>
</p>

<p>
  <b>Publisher url:</b>
  <%= @entry.publisher_url %>
</p>

<p>
  <b>Institution name:</b>
  <%= @entry.institution_name %>
</p>

<p>
  <b>Institution address:</b>
  <%= @entry.institution_address %>
</p>

<p>
  <b>Institution url:</b>
  <%= @entry.institution_url %>
</p>

<p>
  <b>School name:</b>
  <%= @entry.school_name %>
</p>

<p>
  <b>School address:</b>
  <%= @entry.school_address %>
</p>

<p>
  <b>School url:</b>
  <%= @entry.school_url %>
</p>

<p>
  <b>Keywords:</b>
  <%= @entry.keywords %>
</p>

<p>
  <b>Series:</b>
  <%= @entry.series %>
</p>

<p>
  <b>Volume:</b>
  <%= @entry.volume %>
</p>

<p>
  <b>Chapter:</b>
  <%= @entry.chapter %>
</p>

<p>
  <b>Pages:</b>
  <%= @entry.pages %>
</p>

<p>
  <b>Number:</b>
  <%= @entry.number %>
</p>

<p>
  <b>Journal:</b>
  <%= @entry.journal %>
</p>

<p>
  <b>Crossref:</b>
  <%= @entry.crossref %>
</p>

<p>
  <b>Typpe:</b>
  <%= @entry.typpe %>
</p>

<p>
  <b>Edition:</b>
  <%= @entry.edition %>
</p>

<p>
  <b>Howpublished:</b>
  <%= @entry.howpublished %>
</p>

<p>
  <b>Url:</b>
  <%= @entry.url %>
</p>

<p>
  <b>Pdfurl:</b>
  <%= @entry.pdfurl %>
</p>

<p>
  <b>Psurl:</b>
  <%= @entry.psurl %>
</p>

<p>
  <b>Abstract:</b>
  <%= @entry.abstract %>
</p>

<p>
  <b>Issn:</b>
  <%= @entry.issn %>
</p>

<p>
  <b>Isbn:</b>
  <%= @entry.isbn %>
</p>

<p>
  <b>Note:</b>
  <%= @entry.note %>
</p>

<p>
  <b>Fk status:</b>
  <%= @entry.fk_status %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @entry.timestamp %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
