<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Realname de:</b>
  <%= @group.realname_de %>
</p>

<p>
  <b>Realname en:</b>
  <%= @group.realname_en %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
