<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fk_groups %><br />
    <%= f.number_field :fk_groups %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :realname %><br />
    <%= f.text_field :realname %>
  </div>
  <div class="field">
    <%= f.label :passwort %><br />
    <%= f.text_field :passwort %>
  </div>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.check_box :login %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
